* {
	border: none;
	border-radius: inherit;
	margin: 0;
	padding: 0;
	font-family: 'Iosevka Term', monospace;
	font-weight: 700;
	font-size: 13px;
	background: none;
	background-color: inherit;
	box-shadow: none;
	text-shadow: none;
}

#workspaces,
#clock,
#idle_inhibitor,
#cpu,
#memory,
#backlight,
#disk,
#battery,
#network,
#pulseaudio,
#window {
	padding: 0 10px;
	background-color: #282828;
	border-radius: 15px;
	margin-left: 10px;
}

#workspaces {
	padding: 0;
	margin: 0;
}

#workspaces button {
	min-width: 30px;
	color: #b16286;
	border-radius: 15px;
}

#workspaces button:hover {
	background-color: #3c3836;
}

#workspaces button.focused {
	color: #98971a;
}

#clock,
#idle_inhibitor {
	color: #b16286;
}

#cpu,
#backlight,
#battery,
#pulseaudio {
	color: #689d6a;
}

#memory,
#disk,
#network {
	color: #458588;
}
