* {
	border: none;
	border-radius: inherit;
	margin: 0;
	padding: 0;
	font-family: 'Iosevka Term', monospace;
	font-weight: 700;
	font-size: inherit;
	background: none;
	background-color: inherit;
	box-shadow: none;
	text-shadow: none;
}

window#waybar {
	background-color: transparent;
	color: #ebdbb2;
	font-size: 13px;
	transition-duration: .5s;
}

#workspaces,
#clock,
#cpu,
#memory,
#backlight {
	padding: 0 10px;
	background-color: #282828;
	border-radius: 15px;
}

#workspaces {
	padding: 0;
}

#workspaces button {
	font-size: 23px;
	min-width: 30px;
	color: #b16286;
	border-radius: 15px;
}

#workspaces button:hover {
	background-color: #3c3836;
}

#workspaces button.focused {
	color: #98971a;
}

#clock {
	color: #b16286;
}

#cpu {
	color: #cc241d;
}

#memory {
	margin-left: 10px;
	color: #458588;
}

#backlight {
	margin-left: 10px;
	color: #689d6a;
}

big {
	font-size: 23px;
}
